<!DOCTYPE html>
<html>
<head>
  <title>Wisam Zaghal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "application", 'http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %>
    <%= stylesheet_link_tag    "application", 'mfizz/mfizz.css' %>

  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' %>


  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>